In [1]:
from bs4 import BeautifulSoup

In [2]:
import lxml

In [3]:
with open ("htmls/page1.html","r") as f:
    content = f.read()

In [4]:
soup=BeautifulSoup(content,"html.parser")

In [10]:
h3=soup.find_all("h3")

In [11]:
for h3 in h3:
    print(h3.find("a")["title"])

A Light in the Attic
Tipping the Velvet
Soumission
Sharp Objects
Sapiens: A Brief History of Humankind
The Requiem Red
The Dirty Little Secrets of Getting Your Dream Job
The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull
The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics
The Black Maria
Starving Hearts (Triangular Trade Trilogy, #1)
Shakespeare's Sonnets
Set Me Free
Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)
Rip it Up and Start Again
Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991
Olio
Mesaerion: The Best Science Fiction Stories 1800-1849
Libertarianism for Beginners
It's Only the Himalayas

In [40]:
articles=soup.select("article.product_pod")

In [41]:
items=[]
for articles in articles :
    title=articles.find("h3").find("a")["title"]
    # print(title)
    price=articles.select_one("p.price_color").text[2:]
    # print(price)
    items.append([title,price])

In [42]:
items

[['A Light in the Attic', '51.77'],
 ['Tipping the Velvet', '53.74'],
 ['Soumission', '50.10'],
 ['Sharp Objects', '47.82'],
 ['Sapiens: A Brief History of Humankind', '54.23'],
 ['The Requiem Red', '22.65'],
 ['The Dirty Little Secrets of Getting Your Dream Job', '33.34'],
 ['The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
  '17.93'],
 ['The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
  '22.60'],
 ['The Black Maria', '52.15'],
 ['Starving Hearts (Triangular Trade Trilogy, #1)', '13.99'],
 ["Shakespeare's Sonnets", '20.66'],
 ['Set Me Free', '17.46'],
 ["Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)", '52.29'],
 ['Rip it Up and Start Again', '35.02'],
 ['Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
  '57.25'],
 ['Olio', '23.88'],
 ['Mesaerion: The Best Science Fiction Stories 1800-1849', '37.59'],
 ['Libertarianism for Beginners', '51.33'],
 ["It's Only the Himalayas", '45.17']]

In [43]:
import pandas as pd

In [53]:
df= pd.DataFrame(items,columns=["Books Name","Price in Euro"])

In [54]:
df.head()

                              Books Name Price in Euro
0                   A Light in the Attic         51.77
1                     Tipping the Velvet         53.74
2                             Soumission         50.10
3                          Sharp Objects         47.82
4  Sapiens: A Brief History of Humankind         54.23

In [62]:
articles=soup.select("article.product_pod")

In [63]:
items2=[]
for articles in articles :
    rating_element=articles.select_one("p.star-rating")
    classes=rating_element['class']
    items2.append(classes[1])
    print(classes)

['star-rating', 'Three']
['star-rating', 'One']
['star-rating', 'One']
['star-rating', 'Four']
['star-rating', 'Five']
['star-rating', 'One']
['star-rating', 'Four']
['star-rating', 'Three']
['star-rating', 'Four']
['star-rating', 'One']
['star-rating', 'Two']
['star-rating', 'Four']
['star-rating', 'Five']
['star-rating', 'Five']
['star-rating', 'Five']
['star-rating', 'Three']
['star-rating', 'One']
['star-rating', 'One']
['star-rating', 'Two']
['star-rating', 'Two']

In [64]:
items2

['Three',
 'One',
 'One',
 'Four',
 'Five',
 'One',
 'Four',
 'Three',
 'Four',
 'One',
 'Two',
 'Four',
 'Five',
 'Five',
 'Five',
 'Three',
 'One',
 'One',
 'Two',
 'Two']

In [68]:
df2=pd.Series(items2)
df2

0     Three
1       One
2       One
3      Four
4      Five
5       One
6      Four
7     Three
8      Four
9       One
10      Two
11     Four
12     Five
13     Five
14     Five
15    Three
16      One
17      One
18      Two
19      Two
dtype: object

In [74]:
df["star rating"]=df2

In [77]:
df=df.drop('star ratin',axis=1)

In [78]:
df

,Books Name,Price in Euro,star rating
0,A Light in the Attic,51.77,Three
1,Tipping the Velvet,53.74,One
2,Soumission,50.10,One
3,Sharp Objects,47.82,Four
4,Sapiens: A Brief History of Humankind,54.23,Five
5,The Requiem Red,22.65,One
6,The Dirty Little Secrets of Getting Your Dream...,33.34,Four
7,The Coming Woman: A Novel Based on the Life of...,17.93,Three
8,The Boys in the Boat: Nine Americans and Their...,22.60,Four
9,The Black Maria,52.15,One
10,"Starving Hearts (Triangular Trade Trilogy, #1)",13.99,Two
11,Shakespeare's Sonnets,20.66,Four
12,Set Me Free,17.46,Five
13,Scott Pilgrim's Precious Little Life (Scott Pi...,52.29,Five
14,Rip it Up and Start Again,35.02,Five
15,Our Band Could Be Your Life: Scenes from the A...,57.25,Three
16,Olio,23.88,One
17,Mesaerion: The Best Science Fiction Stories 18...,37.59,One
18,Libertarianism for Beginners,51.33,Two
19,It's Only the Himalayas,45.17,Two

In [79]:
df.to_csv("data.csv",index=False)